.primero{
    width:1140px;
}
.verde{
    background-color: green;
    color: green
}
.rosa{
    background-color:  pink;
    color: pink;
}
.naranja{
    background-color:  orange;
    color: orange
}
.azul{
    background-color: blue;
    color: blue
}
.rojo{
    background-color: red;
    color: red;
}