body{
    background-color: #33FF86
}
.menu{
    list-style: none;
    height: 100%;
}
img{
height: 395px
}

.carousel{
    height: 400px;
}
.textocarousel{
    color: black;
}
p{
    font-size: 20px
}