#imatge{
    border: 2px solid;
}
#elefante
{
    position: relative;
    top: 50px;
    right: 50px;
}
#mono{
    position: relative;
    top: 65px;
    right: 65px;
}
#tiger{
    position: relative;
    top: 75px;
    right: 75px;
}
#timon{
    position: relative;
    top: 85px;
    right: 85px;
}
#oso{
    position: relative;
    top: 35px;
    right: 35px;
}