#arriba{
    width: 99.8%;
    height: 20%;
    position: absolute; 
    left: 0px;
    background-color: brown;
}
#izquierda{
    width: 20.5%;
    height: 60.5%;
    background-color: red;
    position: absolute; top: 200px; left: 0px;
    
}   
#derecha{
     width: 20.5%;
     height: 60.5%;  
     position: absolute; top: 200px; right: 0;
     background-color: orangered
    
 }
#medio{
     width: 60.5%;
     height: 60.5%;  
     position: absolute; top: 200px; left: 192.5px;
     background-color: peru
  } 
#abajo{
 
    width: 99.8%;
    height: 19%;
    position: absolute; bottom: 0px; left: 0;
    background-color: crimson;
 }